/* This is the StyleCatcher theme addition. Do not remove this block. */
@import url(https://blogs.psu.edu/mt4/mt-static/themes-base/blog.css);
@import url(https://blogs.psu.edu/mt4/mt-static/support/themes/hills-midnight/hills-midnight.css);
/* end StyleCatcher imports */


.layout-wt #alpha {
    width: 660px;
}

.layout-wt #beta {
    width: 280px;
}

.layout-wt #content-inner { background: transparent url(../images/content-wt.gif) repeat-y scroll right top; }

#nav 
{ 
    position: relative;
    padding: 7px 0px 0px 0px;
    margin: 0 auto 0 auto;
    width: 940px;
    height: 20px;
    background: #afafaf;
    color: #464646;
    text-align: center;
    font-weight: bold;
    font-family: verdana, helvetica, sans-serif;
}

#header { 
    border-color: #0a4a80;  
    background: #072955 url(../images/logo_blog.png) no-repeat bottom left; 
}