<?xml version="1.0" encoding="ISO-8859-1"?>
<configuration>
	<settings delay="2" fadespeed="1" />
	<images>
		<img src="home_flash/photo1.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo2.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo13.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo4.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo5.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo6.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo7.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo8.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo9.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo10.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo11.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo12.jpg" url="http://www.cls.psu.edu" />
		<img src="home_flash/photo16.jpg" url="http://www.cls.psu.edu" />
		
	</images>
</configuration>