@charset "utf-8";
/* CSS Document */
#lab_header{
text-align:center;
}

#lab_header h1 {
	font-size:1.3em;
}

#lab_header h2 {
	font-size:1.1em;
}

#lab_info{
float:left;
margin-left:3em;
}

#lab_contact{
float:right;
margin-right:3em;
}
